.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    width: 600px;
    gap: 1px;

}

button {
    width: 200px;
    height: 200px;
    background-color: black;
    transition: 1s;

}